In [1]:
import csv
import pandas as pd

In [46]:
with open("Resources/nyse_companies.csv", "r") as nyse, open("Resources/nasdaq_companies.csv", "r") as nasdaq:
    companies = [["Symbol", "Name", "Sector", "Industry", "Exchange"]]
    symbols = []
    exchanges = [("nyse", nyse), ("nasdaq", nasdaq)]
    for exchange in exchanges:
        reader = csv.reader(exchange[1], delimiter=",")
        header = next(reader)
        for row in reader:
            if row[0] not in symbols:
                symbols.append(row[0])
                companies.append([row[0].strip(), row[1].strip(), row[5].strip(), row[6].strip(), exchange[0]])

In [47]:
with open("Resources/companies.csv", "w") as outfile:
    writer = csv.writer(outfile, delimiter=',')
    for row in companies:
        writer.writerow(row)

In [2]:
companies = pd.read_csv("Resources/companies.csv")
companies.head()

,Symbol,Name,Sector,Industry,Exchange
0,DDD,3D Systems Corporation,Technology,Computer Software: Prepackaged Software,nyse
1,MMM,3M Company,Health Care,Medical/Dental Instruments,nyse
2,WBAI,500.com Limited,Consumer Services,Services-Misc. Amusement & Recreation,nyse
3,WUBA,58.com Inc.,Technology,"Computer Software: Programming, Data Processing",nyse
4,EGHT,8x8 Inc,Technology,EDP Services,nyse

In [49]:
companies.drop(companies.loc[companies["Symbol"].apply(lambda x: "." in x), :].index, axis=0, inplace=True)
companies.drop(companies.loc[companies["Symbol"].apply(lambda x: "^" in x), :].index, axis=0, inplace=True)
companies.drop(companies.loc[companies["Symbol"].apply(lambda x: "-" in x), :].index, axis=0, inplace=True)

In [22]:
comps.to_csv("Resources/companies.csv")

In [3]:
companies = companies.set_index("Symbol")

In [8]:
companies.loc[companies["Sector"].isna()].index

Index(['AGD', 'AWP', 'ACP', 'JEQ', 'AOD', 'ADX', 'PEO', 'AVK', 'MITT', 'AFB',
       ...
       'EMCB', 'DGRE', 'DXGE', 'HYZD', 'AGZD', 'DXJS', 'GULF', 'HYND', 'DGRW',
       'DGRS'],
      dtype='object', name='Symbol', length=971)

In [9]:
companies = companies.drop(companies.loc[companies["Sector"].isna()].index)

In [10]:
companies.head()

,Name,Sector,Industry,Exchange
Symbol,,,,
DDD,3D Systems Corporation,Technology,Computer Software: Prepackaged Software,nyse
MMM,3M Company,Health Care,Medical/Dental Instruments,nyse
WBAI,500.com Limited,Consumer Services,Services-Misc. Amusement & Recreation,nyse
WUBA,58.com Inc.,Technology,"Computer Software: Programming, Data Processing",nyse
EGHT,8x8 Inc,Technology,EDP Services,nyse

In [20]:
comps = None
for name, group in companies.groupby(by="Sector"):
    print(name)
    if comps is None:
        comps = group
    else:
        comps = pd.concat([comps, group], axis=0)

comps

Basic Industries
Capital Goods
Consumer Durables
Consumer Non-Durables
Consumer Services
Energy
Finance
Health Care
Miscellaneous
Public Utilities
Technology
Transportation

,Name,Sector,Industry,Exchange
Symbol,,,,
ASIX,AdvanSix Inc.,Basic Industries,Major Chemicals,nyse
AEM,Agnico Eagle Mines Limited,Basic Industries,Precious Metals,nyse
APD,"Air Products and Chemicals, Inc.",Basic Industries,Major Chemicals,nyse
AKS,AK Steel Holding Corporation,Basic Industries,Steel/Iron Ore,nyse
AGI,Alamos Gold Inc.,Basic Industries,Precious Metals,nyse
AIN,Albany International Corporation,Basic Industries,Textiles,nyse
ALB,Albemarle Corporation,Basic Industries,Major Chemicals,nyse
AA,Alcoa Corporation,Basic Industries,Aluminum,nyse
ATI,Allegheny Technologies Incorporated,Basic Industries,Steel/Iron Ore,nyse
ACH,Aluminum Corporation of China Limited,Basic Industries,Aluminum,nyse
AMRC,"Ameresco, Inc.",Basic Industries,Engineering & Construction,nyse
AVD,American Vanguard Corporation,Basic Industries,Agricultural Chemicals,nyse
AU,AngloGold Ashanti Limited,Basic Industries,Precious Metals,nyse
MT,ArcelorMittal,Basic Industries,Steel/Iron Ore,nyse
AGX,"Argan, Inc.",Basic Industries,Engineering & Construction,nyse
AXTA,Axalta Coating Systems Ltd.,Basic Industries,Paints/Coatings,nyse
GOLD,Barrick Gold Corporation,Basic Industries,Precious Metals,nyse
BDC,Belden Inc,Basic Industries,Telecommunications Equipment,nyse
BHP,BHP Group Limited,Basic Industries,Precious Metals,nyse
BBU,Brookfield Business Partners L.P.,Basic Industries,Engineering & Construction,nyse
BVN,Buenaventura Mining Company Inc.,Basic Industries,Precious Metals,nyse
CBT,Cabot Corporation,Basic Industries,Major Chemicals,nyse
CCJ,Cameco Corporation,Basic Industries,Precious Metals,nyse
CSL,Carlisle Companies Incorporated,Basic Industries,Specialty Chemicals,nyse
CRS,Carpenter Technology Corporation,Basic Industries,Steel/Iron Ore,nyse
CE,Celanese Corporation,Basic Industries,Major Chemicals,nyse
CF,"CF Industries Holdings, Inc.",Basic Industries,Agricultural Chemicals,nyse
CHRA,"Charah Solutions, Inc.",Basic Industries,Environmental Services,nyse
CC,Chemours Company (The),Basic Industries,Major Chemicals,nyse
CGA,"China Green Agriculture, Inc.",Basic Industries,Agricultural Chemicals,nyse
...,...,...,...,...
HUBG,"Hub Group, Inc.",Transportation,Oil Refining/Marketing,nasdaq
JBHT,"J.B. Hunt Transport Services, Inc.",Transportation,Trucking Freight/Courier Services,nasdaq
JBLU,JetBlue Airways Corporation,Transportation,Air Freight/Delivery Services,nasdaq
LSTR,"Landstar System, Inc.",Transportation,Trucking Freight/Courier Services,nasdaq
MRTN,"Marten Transport, Ltd.",Transportation,Trucking Freight/Courier Services,nasdaq
MESA,"Mesa Air Group, Inc.",Transportation,Air Freight/Delivery Services,nasdaq
NMCI,Navios Maritime Containers L.P.,Transportation,Marine Transportation,nasdaq
ODFL,"Old Dominion Freight Line, Inc.",Transportation,Trucking Freight/Courier Services,nasdaq
PTSI,"P.A.M. Transportation Services, Inc.",Transportation,Trucking Freight/Courier Services,nasdaq
PANL,Pangaea Logistics Solutions Ltd.,Transportation,Marine Transportation,nasdaq
PATI,"Patriot Transportation Holding, Inc.",Transportation,Trucking Freight/Courier Services,nasdaq
DCIX,Performance Shipping Inc.,Transportation,Marine Transportation,nasdaq
PXS,Pyxis Tankers Inc.,Transportation,Marine Transportation,nasdaq
RYAAY,Ryanair Holdings plc,Transportation,Air Freight/Delivery Services,nasdaq
SAIA,"Saia, Inc.",Transportation,Trucking Freight/Courier Services,nasdaq
SHIP,Seanergy Maritime Holdings Corp,Transportation,Marine Transportation,nasdaq
SHIPW,Seanergy Maritime Holdings Corp,Transportation,Marine Transportation,nasdaq
SHIPZ,Seanergy Maritime Holdings Corp,Transportation,Marine Transportation,nasdaq
SINO,"Sino-Global Shipping America, Ltd.",Transportation,Oil Refining/Marketing,nasdaq
SKYW,"SkyWest, Inc.",Transportation,Air Freight/Delivery Services,nasdaq
SBLK,Star Bulk Carriers Corp.,Transportation,Marine Transportation,nasdaq
SBLKZ,Star Bulk Carriers Corp.,Transportation,Marine Transportation,nasdaq
GASS,"StealthGas, Inc.",Transportation,Marine Transportation,nasdaq
TOPS,TOP Ships Inc.,Transportation,Marine Transportation,nasdaq
TRMD,TORM plc,Transportation,Marine Transportation,nasdaq
UAL,"United Airlines Holdings, Inc.",Transportation,Air Freight/Delivery Services,nasdaq
ULH,"Universal Logistics Holdings, Inc.",Transportation,Trucking Freight/Courier Services,nasdaq
USAK,"USA Truck, Inc.",Transportation,Trucking Freight/Courier Services,nasdaq
WERN,"Werner Enterprises, Inc.",Transportation,Trucking Freight/Courier Services,nasdaq
YRCW,"YRC Worldwide, Inc.",Transportation,Trucking Freight/Courier Services,nasdaq

In [2]:
commodities = pd.read_csv("Data/Commodities_data.csv")

In [4]:
commodities.head()
import datetime

In [10]:
def as_date(date):
    date = date.split("M")
    date = datetime.date(year=int(date[0]), month=int(date[1]), day=1)
    return date

In [8]:
commodities.head()

,date,PALLFNF,PEXGALL,PNFUEL,PFANDB,PFOOD,PBEVE,PINDU,PAGRI,PRAWM,...,PPALLA,PPLAT,PPROPANE,PUREA,PPOTASH,PDAP,PTOMATO,PMILK,PCHANA,PAPPLE
0,1980M1,NaN,NaN,NaN,NaN,NaN,124.374,NaN,NaN,69.466,...,NaN,806.79,NaN,150.00,100.0,261.32,NaN,NaN,NaN,NaN
1,1980M2,NaN,NaN,NaN,NaN,NaN,124.357,NaN,NaN,72.604,...,NaN,882.32,NaN,160.71,115.0,258.10,NaN,NaN,NaN,NaN
2,1980M3,NaN,NaN,NaN,NaN,NaN,129.212,NaN,NaN,68.529,...,NaN,746.54,NaN,165.00,115.0,259.86,NaN,NaN,NaN,NaN
3,1980M4,NaN,NaN,NaN,NaN,NaN,124.304,NaN,NaN,67.094,...,NaN,589.06,NaN,169.09,112.5,248.09,NaN,NaN,NaN,NaN
4,1980M5,NaN,NaN,NaN,NaN,NaN,127.143,NaN,NaN,66.928,...,NaN,559.65,NaN,170.00,117.5,211.36,NaN,NaN,NaN,NaN

In [11]:
commodities["date"].apply(as_date).head()

0    1980-01-01
1    1980-02-01
2    1980-03-01
3    1980-04-01
4    1980-05-01
Name: date, dtype: object

In [12]:
commodities["date"] = commodities["date"].apply(as_date)

In [15]:
commodities.head()

,PALLFNF,PEXGALL,PNFUEL,PFANDB,PFOOD,PBEVE,PINDU,PAGRI,PRAWM,PALLMETA,...,PPALLA,PPLAT,PPROPANE,PUREA,PPOTASH,PDAP,PTOMATO,PMILK,PCHANA,PAPPLE
date,,,,,,,,,,,,,,,,,,,,,
1980-01-01,NaN,NaN,NaN,NaN,NaN,124.374,NaN,NaN,69.466,NaN,...,NaN,806.79,NaN,150.00,100.0,261.32,NaN,NaN,NaN,NaN
1980-02-01,NaN,NaN,NaN,NaN,NaN,124.357,NaN,NaN,72.604,NaN,...,NaN,882.32,NaN,160.71,115.0,258.10,NaN,NaN,NaN,NaN
1980-03-01,NaN,NaN,NaN,NaN,NaN,129.212,NaN,NaN,68.529,NaN,...,NaN,746.54,NaN,165.00,115.0,259.86,NaN,NaN,NaN,NaN
1980-04-01,NaN,NaN,NaN,NaN,NaN,124.304,NaN,NaN,67.094,NaN,...,NaN,589.06,NaN,169.09,112.5,248.09,NaN,NaN,NaN,NaN
1980-05-01,NaN,NaN,NaN,NaN,NaN,127.143,NaN,NaN,66.928,NaN,...,NaN,559.65,NaN,170.00,117.5,211.36,NaN,NaN,NaN,NaN

In [14]:
commodities = commodities.set_index("date")

In [16]:
commodities.to_csv("Data/Commodities_data.csv")