In [1]:
#Importing dependencies
import noaa
import numpy as np
import pandas as pd

In [2]:
dat = pd.DataFrame(noaa.get('stations', limit=None, extent='46.5204,-122.2047,47.6139,-121.1065'))
dat.head()

,datacoverage,elevation,elevationUnit,id,latitude,longitude,maxdate,mindate,name
0,0.9893,208.8,METERS,COOP:450945,47.16940,-122.00360,2012-12-01,1919-01-01,"BUCKLEY 1 NE, WA US"
1,0.9915,1049.1,METERS,COOP:450969,46.86667,-121.30000,1967-06-01,1919-01-01,"BUMPING LAKE, WA US"
2,0.9440,366.1,METERS,COOP:451059,47.43333,-121.65000,1941-08-01,1931-03-01,"CAMP EIGHT, WA US"
3,1.0000,499.9,METERS,COOP:451113,46.98333,-121.96667,1962-07-01,1957-12-01,"CARBONADO 8 SSE, WA US"
4,0.9931,475.5,METERS,COOP:451233,47.41440,-121.75610,2015-11-01,1919-01-01,"CEDAR LAKE, WA US"

In [3]:
len(dat)

149

In [4]:
#example call:
#https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=ZIP:28801&startdate=2010-05-01&enddate=2010-05-01
dat = pd.DataFrame(noaa.get('data', datasetid='GHCND', locationid='ZIP:28801', startdate='2010-05-01', enddate='2011-05-01', limit=1500))
len(dat)

Retrieving page 1 of 2
Retrieving page 2 of 2

1500

In [5]:
dat.head()

  attributes datatype                 date            station  value
0       ,,N,     PRCP  2010-05-01T00:00:00  GHCND:US1NCBC0005      0
1       ,,N,     SNOW  2010-05-01T00:00:00  GHCND:US1NCBC0005      0
2   ,,0,2400     PRCP  2010-05-01T00:00:00  GHCND:USW00013872      3
3       ,,0,     SNOW  2010-05-01T00:00:00  GHCND:USW00013872      0
4       ,,0,     SNWD  2010-05-01T00:00:00  GHCND:USW00013872      0