In [1]:
#Importing dependencies
import noaa
import numpy as np
import pandas as pd

In [5]:
dat = pd.DataFrame(noaa.get('stations', limit=523, offset=10592))
dat.head()

,datacoverage,elevation,elevationUnit,id,latitude,longitude,maxdate,mindate,name
0,0.7727,1662.1,METERS,COOP:267397,40.90000,-115.31667,1978-10-01,1939-06-01,"SEVENTY ONE RANCH, NV US"
1,0.9914,1983.0,METERS,COOP:267443,41.85000,-119.63333,1972-02-01,1933-07-01,"SHELDON, NV US"
2,0.9957,1789.2,METERS,COOP:267450,38.91620,-114.40220,2011-02-01,1988-10-01,"SHOSHONE 5 N, NV US"
3,0.9861,1302.7,METERS,COOP:267463,37.76170,-117.56580,2015-11-01,1968-01-01,"SILVERPEAK, NV US"
4,0.9744,1449.0,METERS,COOP:267609,38.81667,-119.33333,1966-09-01,1931-01-01,"SMITH 1 N, NV US"

In [4]:
#example call:
#https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=ZIP:28801&startdate=2010-05-01&enddate=2010-05-01
dat = pd.DataFrame(noaa.get('data', datasetid='GHCND', locationid='ZIP:28801', startdate='2010-05-01', enddate='2011-05-01', limit=1500))
len(dat)

Retrieving page 1 of 2
Retrieving page 2 of 2

1500

In [5]:
dat.head()

  attributes datatype                 date            station  value
0       ,,N,     PRCP  2010-05-01T00:00:00  GHCND:US1NCBC0005      0
1       ,,N,     SNOW  2010-05-01T00:00:00  GHCND:US1NCBC0005      0
2   ,,0,2400     PRCP  2010-05-01T00:00:00  GHCND:USW00013872      3
3       ,,0,     SNOW  2010-05-01T00:00:00  GHCND:USW00013872      0
4       ,,0,     SNWD  2010-05-01T00:00:00  GHCND:USW00013872      0